body
{
	margin-top: -10px;
	margin-left: -10px;
	padding: 0px;
	background: white url(../../images/main/bkg.gif) top left repeat-y;
}

p, span, ul, li, h1, h2, h3, h4, h5, h6, address
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6
{
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
}

.headertext2
{
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}

.headertextl
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 24px;
	line-height: 12px;
	margin: -1px;
}

.hugetext
{
	font-size: 48px;
	line-height: 36px;
	font-weight: bold;
}

a
{
	text-decoration: none !important;
	color: #c00 !important;
}

a:visited
{
	text-decoration: none !important;
	color: #a00;
}

a:hover { text-decoration: none !important; }

.redres
{
	font-size: 11px;
	font-weight: bold;
	color: #c00 !important;
}

a.redres { text-decoration: none !important; }
a.redres:hover { color: #f00 !important; }

.redresm
{
	font-size: 11px;
	color: #c00 !important;
}

a.redresm { text-decoration: none !important; }
a.redresm:hover { color: #f00 !important; }

.subheadertext
{
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #300;
}

.subnav
{
	text-decoration: none;
	font-weight: normal;
}

a.subnav
{
	text-decoration: none !important;
	font-weight: normal;
	color: #666 !important;
}

a.subnav:hover
{
	text-decoration: underline;
	color: #000 !important;
}

.mainnav
{
	font-weight: bold;
	color: #fff;
}

a.mainnav
{
	text-decoration: none !important;
	color: #aaa !important;
}

a.mainnav:hover
{
	text-decoration: underline;
	color: #fff !important;
}

.caption
{
	font-size: 10px;
	line-height: 14px;
	color: #666;
}

.copyright
{
	font-size: 10px;
	line-height: 10px;
	color: #666;
}

em { font-style: italic; }
b, strong { font-weight: bold; }

.super
{
	font-size: 11px;
	color: #666;
}

.indent { margin: 20px; }
.boldtext { font-weight: bold; }

a.boldtext
{
	text-decoration: none !important;
	color: #333 !important;
}

#topnav
{
	position: absolute;
	top: -12px;
	left: -4px;
	width: 697px;
	height: 28px;
	border: 0px;
	text-align: left;
	padding: 7px;
	background: black url(../../images/main/alienresident-top-bar.gif) left no-repeat fixed;
}

#topnav li, ul
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #000;
}

#topnav ul
{
	list-style-type: none;
	text-align: left;
	display: inline;
}

#topnav ul, li
{
	display: inline;
	list-style-type: none;
}

li.first
{
	list-style-type: none;
	display: inline;
}

#topnav img { display: none; }

#main
{
	width: 640px;
	margin: 20px 0px 20px 30px;
	padding: 5px;
}

ul.block, li.block
{
	display: block;
	font-weight: bold;
}

div.spacer { clear: both; }
div.r350 { width: 350px; }
div.r300 { width: 300px; }
div.r250 { width: 250px; }
div.r200 { width: 200px; }
div.r125 { width: 125px; }
div.l350 { width: 350px; }
div.l300 { width: 300px; }
div.l250 { width: 250px; }
div.l210 { width: 210px; }
div.l150 { width: 150px; }
div.l125 { width: 125px; }

div.photoright
{
	width: 250px;
	left: 280px;
	margin: 10px;
	padding: 10px;
	text-align: left;
}

div.photoleft
{
	width: 350px;
	right: 280px;
	margin: 0px;
	padding: 10px;
	text-align: left;
}

#lnav
{
	position: absolute;
	top: 45px;
	left: -30px;
	width: 150px;
	text-align: left;
	margin: 0 0 0 -15px;
	padding: 0px;
	display: block;
	color: #fff;
}

#lnav img { padding: 5px 0px 0px 40px; }

#lnav ul, li
{
	list-style-type: none;
	margin: 0;
	padding: 0px;
	color: #fff;
}

.lnavtext
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

a.lnavtext
{
	text-decoration: none !important;
	color: #333 !important;
}

a.lnavtext:hover { color: #b00 !important; }
.hide { display: none; }

.nextprev
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 10px;
	margin-left: 12px;
	font-weight: bold;
}

a.nextprev
{
	text-decoration: none !important;
	color: #aaa !important;
}

a.nextprev:hover { color: #666 !important; }

.headertextl
{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 24px;
	line-height: 18px;
	margin: 0px;
}

#lmain
{
	margin-top: 100px;
	margin-left: 135px;
	width: 540px;
	text-align: left;
	padding: 0px;
}

#nextnav
{
	width: 500px;
	margin: 0px;
	display: inline;
	text-align: right;
	padding: 0px;
}

#footer
{
	width: 640px;
	margin: 10px 0px 20px 30px;
	text-align: left;
	padding: 20px 5px 10px 0;
	background-color: #fff;
	clear: both;
}