/* body{font-family:Verdana,Arial,Helvetica,sans-serif;color:#222;font-size:15px;line-height:1.5;font-weight:normal;margin:0px;padding:0px;background:white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZAgMAAAC5h23wAAAACVBMVEWZmZnMzMxmZmYCsrTlAAAAJElEQVQI12MIDAmd6hrowIBOA0EDiMAlT6q6VWDQQDXz0NQBAHGdNmHTQlzLAAAAAElFTkSuQmCC') top left repeat;} */
body{font-family:Verdana,Arial,Helvetica,sans-serif;color:#222;font-size:15px;line-height:1.5;font-weight:normal;margin:0px;padding:0px;background:#ccc url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath fill='%23999' d='M4 0h1v50H4z'/%3E%3Cpath fill='%23999' d='M4 0h1v50H4zm10 0h1v50h-1zm20 0h1v50h-1zm10 0h1v50h-1z'/%3E%3Cpath fill='%23999' d='M0 46h50v1H0z'/%3E%3Cpath fill='%23999' d='M0 46h50v1H0zm0-10h50v1H0zm0-20h50v1H0zM0 6h50v1H0z'/%3E%3Cpath fill='%23666' d='M24 0h1v50h-1z'/%3E%3Cpath fill='%23666' d='M0 26h50v1H0z'/%3E%3C/svg%3E") top left repeat;background-size: 50px 50px;}
.maintext{font-weight:normal;}
h1,h2,h3,h4,h5,h6,.headertext{font-size:1.5em;line-height:1.25;font-weight:bold;}
.headertext2{font-size:1.25em;line-height:1.25;font-weight:bold;}
.headertext3{font-size:14px;line-height:20px;font-weight:bold;margin:0 0 -8px 0;}
.hugetext{font-size:48px;line-height:36px;font-weight:bold;}
address{font-style:normal;margin-top:0px;}
a:link{text-decoration:none;color:#c00;}
a:visited{text-decoration:none;color:#a00;}
a:hover{text-decoration:none;}
.redres{font-weight:bold;color:#c00;}
a.redres{text-decoration:none;}
a.redres:hover{color:#f00;}
a.redres2{margin-left:60px;}
.redresm{color:#c00;}
a.redresm{text-decoration:none;}
a.redresm:hover{color:#f00;}
.subheadertext{font-size:14px;line-height:20px;font-weight:bold;color:#300;}
.subnav{text-decoration:none;font-weight:normal;}
a.subnav{text-decoration:none;font-weight:normal;color:#666;}
a.subnav:hover{text-decoration:underline;color:#222;}
.mainnav{font-weight:bold;color:#fff;font-size: 14px; line-height: 2;}
.mainnav + object {float:right}
a.mainnav{text-decoration:none;color:#aaa;}
a.mainnav:hover{text-decoration:underline;color:#fff;}
.caption{font-size:12px;line-height:1.5;color:#666;}
.copyright{font-size:11px;line-height:1.2;color:#666;}
em{font-style:italic;}
b,strong{font-weight:bold;}
.super{font-size:11px;color:#666;}
.indent{margin-left:20px;}
.boldtext{font-weight:bold;}
div#topnav{width:690px;margin:0px 0px 20px 0px;padding:0;text-align:left;height:28px;background:#000 url(../images/main/alienresident_logo.gif) top left no-repeat;}
div#topnav img{border:0;margin:0;padding-left:10px;}
div#topnav ul{border:0;margin:0;padding:0;list-style-type:none;text-align:left;}
div#topnav ul,li{display:inline;}
div#topnav li.inline{padding-left:5px;padding-right:5px;border-left:1px solid #fff;}
div#topnav li.first{padding-left:40px;padding-right:5px;border-left:0px solid #000 !important;}
a.boldtext{text-decoration:none;color:#333;}
#main{width:640px;margin:20px 30px 20px 30px;padding:5px;}
ul.block,li.block{display:block;font-weight:bold;list-style-type:disc !important;}
div.spacer{clear:both;}
div.r350{float:right;width:350px;}
div.r300{float:right;width:300px;}
div.r250{float:right;width:250px;}
div.r200{float:right;width:200px;}
div.r125{float:right;width:125px;}
div.l350{float:left;width:350px;}
div.l300{float:left;width:300px;}
div.l250{float:left;width:250px;}
div.l210{float:left;width:210px;}
div.l150{float:left;width:150px;}
div.l125{float:left;width:125px;}
div.photoright{float:right;margin:0px;padding-left:5px;text-align:left;}
div.photoleft{float:left;margin:0px;padding-right:10px;text-align:left;}
div.resright{float:right;margin:0px;padding:10px;text-align:right;}
div.resleft{float:left;margin:0px;padding:0px;text-align:left;}
div.resright2{float:right;width:190px;margin:0px;padding:0px;text-align:left;}
div.resleft2{float:left;width:190px;margin:0px;padding:0px;text-align:right;}
div.rescenter{float:left;width:190px;margin:10px;padding:0px;text-align:center;}
div.rescenter2{float:left;margin:0px;padding:0px;text-align:center;}
div#popmain{margin:0px;padding:0px;}
div#black{margin:20px;padding:10px;}
div#black2{margin:0px;padding:5px;background:#000;text-align:right;}
div#lnav{float:left;top:55px;width:115px;text-align:left;margin-left:12px;padding:0px;display:block;}
div#lnav img{padding:5px 0px 10px 5px;}
div#lnav ul,li{list-style-type:none;list-style-position:outside;margin:0px;padding:0px;}
.lnavtext{font-family:Arial,Helvetica,Verdana,sans-serif;font-size:14px;line-height:24px;font-weight:bold;}
a.lnavtext{text-decoration:none !important;color:#333 !important;}
a.lnavtext:hover{color:#b00 !important;}
.nextprev{font-family:Arial,Helvetica,Verdana,sans-serif;font-size:10px;line-height:24px;margin-left:12px;font-weight:bold;}
a.nextprev{text-decoration:none !important;color:#aaa !important;}
a.nextprev:hover{color:#666 !important;}
.headertextl {font-family:Arial,Helvetica,Verdana,sans-serif;font-size:24px;line-height:18px;margin:0px;}
div#lmain {float:left;width:540px;margin:55px 0 10px 10px;text-align:left;padding:0px;}
div#nextnav {width:95%;margin:0px 0px 0px 0px;text-align:right;padding:0px;}
div#footer {width:640px;margin:10px 0px 20px 30px;text-align:left;padding:20px 5px 10px 0;background-color:#fff;border-top:1px dashed #ccc;clear:both;}
abbr { border-bottom-width: 1px; border-bottom-style: dotted; text-transform:uppercase;}
ul.bullets {display:block; list-style: disc; line-height:1.8em; list-style-position:inside;}
.bullets li {display:block; list-style-type: disc;}
.elsewhere.box { float: right; margin:0 1em; }
ul.elsewhere { margin: 0; padding: 0; display: block; }
ul.elsewhere li { margin: 0; padding: .125em 0; display: block; font-size: 16px; line-height: 1.75em;}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon:before {
  margin: 0 .5em; 
}

[href^="http://be.net/"]:before {
	content: "\e600";
}
[href^="https://github.com/"]:before {
	content: "\e601";
}
[href^="https://twitter.com"]:before {
	content: "\e602";
}
[href^="https://www.linkedin.com/"]:before {
	content: "\e603";
}
ins { text-decoration: none; border-bottom: 1px dotted #c00; }

/* Contact h-card and address */
.h-card .p-name {
  font-weight: bold;
  display: block;
}
.h-adr .p-street-address, .p-tel, .u-email {
  display: block;
}

/* Resume */
h1.resume.header {
  font-style: italic;
}
.indent {
  font-weight: bold;
}

.headertext.p-tel {
  font-style: italic;
}

#wrapper {
    margin: 0 auto;
    background: #fff;
    width: 690px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5), -1px 1px 3px rgba(0,0,0,.5);
}

#wrapper:before,
#wrapper:after {
  content: "";
  display: table;
} 
#wrapper:after {
  clear: both;
}

/* Reel Page */ 
figure.videoplayer {
    margin: 0;
}
figure.videoplayer video {
    background: #000;
}
select#dirurl {
    display: none;
}
form#dropdown_menu {
    float: right;
    margin-bottom: 1em;
}
ul.crew {
}