body {
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size: 11px;
	line-height: 14px;
	background: #6b6917;
	color: #000;
	margin: 0px;
	padding: 0px;
	}
a#skipnavigation {
	position:absolute;
	left:-1000px;
	}
img {
	border:0;	
	}
ul, li {
	margin:0;
	padding:0;
}

h2, h3, h4 {
	font-weight:bold;
	font-family:Garamond,Georgia,Bookman,Times,"Times New Roman", serif;
	color:#b5450d;
	font-size: 28px;
	padding:0px;
	margin:10px 0 10px 10px;
	}
h5, h6 {
	font-weight:bold;
	font-family:Garamond,Georgia,Bookman,Times,"Times New Roman", serif;
	color:#b5450d;
	font-size: 22px;
	line-height: 20px;	
	padding:0px;
	margin:10px 0px 5px 25px;
	overflow: hidden;
	display:block;
	}
span {
	font-size: 12px;
	line-height: 10px
	}
.line {
	width:170px;
	border-bottom:2px solid #fff;
	padding:0;
	}
div.line2 {
	width:186px;
	border-top:2px solid #fff;
	padding:0;
	}
.line3 {
	width:386px;
	border-top:9px solid #b5450d;
	padding:0;
	margin:0;
	}
div.line4 {
	width:382px;
	border-top:2px solid #fff;
	padding:0;
	}		
sup {
	font-size: 10px;
	line-height: 10px;
	font-weight: bold;
	}
strong, b {
	font-weight: bold;
	}
a {
	text-decoration: none;
	font-weight: normal;
	color: #fff;
	}
a:visited {
	color: #fff;
	}
a:hover {
	color: #fff;
	text-decoration: underline;
	}
p {
	margin: 0px 0 10px 0;
	}
p.contentpic {
	margin: 5px 0 10px 0;
	color:#717fbb;
	font-weight:bold;
	font-family:"Gill Sans",Arial,Verdana,Helvetica,sans-serif;
}	
td#nav1 {
	background: #717fb8;
	text-align:left;
	padding:0px;
	margin:0px;
	vertical-align:top;
	max-height:43px;
		}
ul.nav1 li  {
	float:left;
	display: inline;
	padding:0px;
	margin:0px;
	list-style-type: none;
	list-style-position:outside;
	height:43px;
	}
.nav1 img a {
	float:left;
	vertical-align: bottom;
	}	
.nav1 img {
	padding:0;
	margin:0;
	vertical-align: bottom;
}		
td.right {
	vertical-align:top;
	width: 185px;
	background: #ebe3d3;
	text-align:left;	
	padding:25px 0 0px 20px;
	}
td.right p {
	padding:10px 10px 0px 0px;
	}
h5.right {
	padding:0px;
	margin:0;
	}	
img.learnmore {
	padding:0px 0 0px 10px;
	}
img.right {
	float:right;
	padding:68px 0px 0px 0px;
	}
span.greenspan {
	float:left;
	font-weight:bold;
	font-family:Garamond,Georgia,Bookman,Times,"Times New Roman", serif;
	color:#6b6917;
	width:35px;
	}	
div.leftbox {
	float:right;
	margin:0 0px 0 0;
	}
div.form {
	float:right;
	margin:0;
	padding:0px 0 0px 10px;
	background: #6b6917;
	width:180px;
	height:43px;
	}
form {
	padding:0;
	margin:0;
	}
input {
	margin:0;
	border:0;
	height:12px;
	}
p.input {
	margin-bottom:4px;
	padding:0px;
	color: #ebe3d3;
	}	
td.nav2 {
	width:193px;
	background: #f9f6e9;
	text-align:left;
	vertical-align:top;
	padding:0;		
	margin:0;
	}
td.nav2 p {
	padding:0px 5px 10px 25px;
	}
img.video {
	padding:0px 5px 10px 25px;
	margin:0;
	  overflow: hidden;
	  display:block;	
	}	
div#nav3 {
	margin:0px;	
	padding:0;
	}
td#nav4 {
	background: #717fb8;
	height:21px;
	text-align:center;
	vertical-align:bottom;
	width:405px;	
	}
p.garamond {
	font-family:Garamond,Georgia,Bookman,Times,"Times New Roman", serif;
	font-size:12px;
}	
.nav4 {
	display: inline;
	float:right;
	background: #717fb8;	
	list-style-type: none;	
	margin:0px;
	padding-top:5px;
	height:21px;
	vertical-align:bottom;
	text-align:right;	
	}
.nav4 ul {
	display: inline;
	background: #717fb8;	
	list-style-type: none;
	padding-top:6px;
	margin:0px;
	text-align:right;
	height:21px;
	vertical-align:bottom;	
	}
.nav4 li {
	display: inline;	
	list-style-type: none;
	padding:0px;
	margin:0px;
	text-align:center;
	vertical-align:bottom;
	}
.nav4 a {
	display: inline;
	list-style-type: none;	
	border-left:1px solid #91a7cb;
	padding:0px 7px 2px 7px;
	margin:0px;
	vertical-align:bottom;	
	}
.nav4 a.first {
	display: inline;
	list-style-type: none;	
	border-left:0px solid #91a7cb;
	padding:0px 7px 2px 7px;
	margin:0px;
	text-align:center;
	vertical-align:bottom;
	}
td.nav5 {	
	background: #717fb8;		
	}
div.spacer { 
	clear: both;
	}
table#wrapper {
	width:766px;
	margin:2px auto 2px auto;
	text-align: center;
	padding:0px;
	font-size: 11px;
	line-height: 14px;
	}
td#main {
	vertical-align:top;
	padding:0;
	margin:0;
	}
td#about {
	border-right:2px solid #fff;
	text-align:left;
	margin:0;
	padding:18px 15px 18px 18px;
	vertical-align:top;
	background: #fff url(../images/health-self-reliance-digini.gif) bottom left no-repeat;
	}
td {
	font-size: 11px;
	line-height: 14px;
	}	
td#about p {
	font-weight:bold;
	font-size: 13px;
	padding:5px 0px 0px 0px;
	line-height:21px;
	color:#000;
	}	
td#about h1 {
	float:left;
	font-size: 29px;
	color:#b5450d;
	margin:0px;
	padding:5px 10px 10px 0px;
	font-weight:normal;
	}
td#content {
	text-align: left;
	margin:0;
	padding:0px;	
	background: #f9f6e9;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
	vertical-align:top;
	width:382px;
	}
td#content p.body {
	padding:0px 0px 0px 10px;	
	}