*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

/* body{font-family:Verdana,Arial,Helvetica,sans-serif;color:#222;font-size:15px;line-height:1.5;font-weight:normal;margin:0px;padding:0px;background:white url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZAgMAAAC5h23wAAAACVBMVEWZmZnMzMxmZmYCsrTlAAAAJElEQVQI12MIDAmd6hrowIBOA0EDiMAlT6q6VWDQQDXz0NQBAHGdNmHTQlzLAAAAAElFTkSuQmCC') top left repeat;} */
body{font-family:Verdana,Arial,Helvetica,sans-serif;color:#222;font-size:15px;line-height:1.5;font-weight:normal;margin:0px;padding:0px;background:#ccc url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cpath fill='%23999' d='M4 0h1v50H4z'/%3E%3Cpath fill='%23999' d='M4 0h1v50H4zm10 0h1v50h-1zm20 0h1v50h-1zm10 0h1v50h-1z'/%3E%3Cpath fill='%23999' d='M0 46h50v1H0z'/%3E%3Cpath fill='%23999' d='M0 46h50v1H0zm0-10h50v1H0zm0-20h50v1H0zM0 6h50v1H0z'/%3E%3Cpath fill='%23666' d='M24 0h1v50h-1z'/%3E%3Cpath fill='%23666' d='M0 26h50v1H0z'/%3E%3C/svg%3E") top left repeat;background-size: 50px 50px;}
.maintext{font-weight:normal;}
h1,h2,h3,h4,h5,h6,.headertext{font-size:1.5em;line-height:1.25;font-weight:bold;}
.headertext2{font-size:1.25em;line-height:1.25;font-weight:bold;}
.headertext3{font-size:14px;line-height:20px;font-weight:bold;margin:0 0 -8px 0;}
.hugetext{font-size:48px;line-height:36px;font-weight:bold;}
address{font-style:normal;margin-top:0px;}
a:link{text-decoration:none;color:#c00;}
a:visited{text-decoration:none;color:#a00;}
a:hover{text-decoration:none;}
.redres{font-weight:bold;color:#c00;}
a.redres{text-decoration:none;}
a.redres:hover{color:#f00;}
a.redres2{margin-left:60px;}
.redresm{color:#c00;}
a.redresm{text-decoration:none;}
a.redresm:hover{color:#f00;}
.subheadertext{font-size:14px;line-height:20px;font-weight:bold;color:#300;}
.subnav{text-decoration:none;font-weight:normal;}
a.subnav{text-decoration:none;font-weight:normal;color:#666;}
a.subnav:hover{text-decoration:underline;color:#222;}
.mainnav{font-weight:bold;color:#fff;font-size: 14px; line-height: 2;}
.mainnav + object {float:right}
a.mainnav{text-decoration:none;color:#aaa;}
a.mainnav:hover{text-decoration:underline;color:#fff;}
.caption{font-size:12px;line-height:1.5;color:#666;}
.copyright{font-size:11px;line-height:1.2;color:#666;}
em{font-style:italic;}
b,strong{font-weight:bold;}
.super{font-size:11px;color:#666;}
.indent{margin-left:20px;}
.boldtext{font-weight:bold;}
a.boldtext{text-decoration:none;color:#333;}
#topnav{width:100%;margin:0px 0px 20px 0px;padding:0;text-align:left;height:1.8em;background:#000 url(../images/main/alienresident_logo.gif) top left no-repeat;}
#topnav img{border:0;margin:0;padding-left:10px;}
#topnav ul{border:0;margin:0;padding:0;list-style-type:none;text-align:left; display: inline-block;}
#topnav li{display: inline-block;}
#topnav li a{text-decoration: none;}
#topnav li.inline{padding-left:1em;padding-right:1em;border-left:1px solid #aaa;}
#topnav li.first{padding-left:3.75em;padding-right:1em;border-left:none;}
#main {
  margin: 20px auto;
  padding: 0 25px;
}
ul.block,li.block{display:block;font-weight:bold;list-style-type:disc;}
.spacer{clear:both;}
.r350{float:right;width:350px;}
.r300{float:right;width:300px;}
.r250{float:right;width:250px;}
.r200{float:right;width:200px;}
.r125{float:right;width:125px;}
.l350{float:left;width:350px;}
.l300{float:left;width:300px;}
.l250{float:left;width:250px;}
.l210{float:left;width:210px;}
.l150{float:left;width:150px;}
.l125{float:left;width:125px;}
.photo {
  text-align:left;
}
.right{
  float:right;
  padding-left:16px;
} 
.left{
  float:left;
  padding-right:16px;
}
.photo img, 
.photo img + span {
    display: block;
    margin-bottom: 10px;
}
.photo:before,
.photo:after {
  clear: both;
}
.resright{float:right;margin:0px;padding:10px;text-align:right;}
.resleft{float:left;margin:0px;padding:0px;text-align:left;}
.resright2{float:right;width:190px;margin:0px;padding:0px;text-align:left;}
.resleft2{float:left;width:190px;margin:0px;padding:0px;text-align:right;}
.rescenter{float:left;width:190px;margin:10px;padding:0px;text-align:center;}
.rescenter2{float:left;margin:0px;padding:0px;text-align:center;}
#popmain{margin:0px;padding:0px;}
#black{margin:20px;padding:10px;}
#black2{margin:0px;padding:5px;background:#000;text-align:right;}
#lnav{text-align:left;margin-left:12px;padding:0px;display:block;}
#lnav img{float: left;padding:5px 25px 10px 5px;}
#lnav ul {list-style-type:none;list-style-position:outside;margin:10px 0;padding:10px;}
#lnav li{display: inline;font-family:Arial,Helvetica,Verdana,sans-serif;font-size:14px;line-height:24px;font-weight:bold;padding: 10px;}
#lnav li a{text-decoration:none;color:#333;}
#lnav li a:hover{color:#b00;}
#nav:before, #lnav:after {
  clear: both;
}
.nextprev{font-family:Arial,Helvetica,Verdana,sans-serif;font-size:10px;line-height:24px;margin-left:12px;font-weight:bold;}
a.nextprev{text-decoration:none;color:#aaa;}
a.nextprev:hover{color:#666;}
#lmain {clear: both;margin:0 0 10px 10px;text-align:left;padding:24px;}
#lmain h2 {clear: both;}
#footer {width:640px;margin:10px 0px 20px 30px;text-align:left;padding:20px 5px 10px 0;background-color:#fff;border-top:1px dashed #ccc;clear:both;}
abbr { border-bottom-width: 1px; border-bottom-style: dotted; text-transform:uppercase;}
ul.bullets {display:block; list-style: disc; line-height:1.8em; list-style-position:inside;}
.bullets li {display:block; list-style-type: disc;}
.elsewhere.box { float: right; margin:0 1em; }
ul.elsewhere { margin: 0; padding: 0; display: block; }
ul.elsewhere li { margin: 0; padding: .125em 0; display: block; font-size: 16px; line-height: 1.25em;}
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon"]:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon:before {
  margin: 0 .5em; 
}

[href^="http://be.net/"]:before {
	content: "\e600";
}
[href^="https://github.com/"]:before {
	content: "\e601";
}
[href^="https://twitter.com"]:before {
	content: "\e602";
}
[href^="https://www.linkedin.com/"]:before {
	content: "\e603";
}
ins { text-decoration: none; border-bottom: 1px dotted #c00; }

/* Contact h-card and address */
.h-card .p-name {
  font-weight: bold;
  display: block;
}
.h-adr .p-street-address, .p-tel, .u-email {
  display: block;
}

/* Resume */
h1.resume.header {
  font-style: italic;
}
.indent {
  font-weight: bold;
}

.headertext.p-tel {
  font-style: italic;
}

#wrapper {
  margin: 0 auto;
  background: #fff;
  width: 690px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.5), -1px 1px 3px rgba(0,0,0,.5);
}
#wrapper:before,
#wrapper:after {
  content: "";
  display: table;
} 
#wrapper:after {
  clear: both;
}
/* Homepage */
.homepage #wrapper {
  background: #fff url(../images/homepage/spaceman.jpg) no-repeat fixed center 0;
}

#header {
  width: 300px;
  margin: 0px 0px 60px 350px;
  text-align: center;
  padding: 10px;
}

#content
{
  width: 600px;
  margin: 20px 0px 180px 30px;
  padding: 10px;
  border: 1px dashed #ccc;
  background: rgba(255,255,255,.75) url(../images/homepage/spaceman-fade.jpg) no-repeat fixed center 0;
  background-blend-mode: luminosity; 
}

#footerhome
{
  width: 600px;
  clear: both;
  margin: 20px 0px 20px 30px;
  text-align: left;
  padding: 10px;
  background-color: rgba(255,255,255,.75);
  border: 1px dashed #ccc;
}

/* Video Player */ 
figure.videoplayer {
  margin: 0;
}
figure.videoplayer video {
  background: #000;
}
form#dropdown_menu {
  float: right;
  margin-bottom: 1em;
}

/* Reel Page */
.reel select#dirurl {
  display: none;
}
.reel .mainnav a[href*="reel"]{
  color: #fff;
}

/* Films Page */
.films select#dirurl {
  display: none;
}
.films .mainnav a[href*="films"]{
  color: #fff;
}

.films ul#playlist {
  margin: 0;
  padding: 0;
}

.films ul#playlist li {
  margin: 1em 0 2em 0;
  padding: 0;
}

ul.crew {
  display: block;  
}