body {
	background:#fff;
	margin:0 auto;
	text-align:center;
}

#main {
	width:980px;
	text-align:left;
} 

h1 {
	display:inline;
	font-family:"Helvetica Neue", Helvetica, Arial,sans-serif;
	color:#fff;
	font-size:1em;
}  
#videonav {
  height:30px;
}
#videonav form {
 float:right;
} 

#videoplayer {
	text-align:center;
}
#gallery {
  
}
#gallery img {
  width:240px;
}