.maintext {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:

11px; line-height: 18px; font-weight: normal; color: #000000}



.caption {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:

10px; line-height: 14px; font-weight: normal; color: #333333}



.boldtext {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:

12px; line-height: 18px; font-weight: bold; color: #666666}

.copyright {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:

10px; line-height: 10px; font-weight: normal; color: #999999}

.maintextW {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:

12px; line-height: 18px; font-weight: normal; color: #ffffff}



A:link, A:visited, A:active { text-decoration: underline; color:#990000}



em, tbody {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:

11px; line-height: 18px; font-weight: normal; color: #000000}

h3, strong, th {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size:

12px; line-height: 18px; font-weight: bold; color: #666666}



.super {font-family: Verdana, Arial, Helvetica, sans-serif; font-size:

11px; color: #666666}